// about y discography

/* about */

.about{
	margin: 30px;
}

.ul1{
	margin: 20px;
}

/* discography */

.ul2{
	margin: 20px;
	.li1{
		margin-bottom: 30px;
		a{
			text-decoration: none;
			color: $white;
			&:hover{
				cursor: pointer;
				color: $key;
			}
		}
		p{
			margin-top: 30px;
		}
		ol{
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}
}
