*{
font-family: 'Cinzel', serif;
margin: 0;
padding: 0;
}


/* fuente en el cuerpo */

body{
	color: $white;
	font-family: 'Cinzel', serif;
	background-image: url(../img/bg/greybgd.jpg);
	background-attachment: fixed;
}

h1,h2,h3{
	font-family: 'Cinzel Decorative', cursive;
	margin: 30px;
}