@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700;800;900&display=swap');

//vars fonts
$mainFont: 'Cinzel', serif;
$secondaryFont: 'Cinzel Decorative', cursive;

//sizes

$txtSize:(
	'sm': 0.8rem,
	'md': 1rem,
	'md2': 1.3rem,
	'lg': 1.7rem,
	'x1': 3rem,
	);
