@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700;800;900&display=swap');

//vars fonts
$mainFont: 'Cinzel', serif;
$secondaryFont: 'Cinzel Decorative', cursive;

//sizes
$textSm: 0.8em;
$textMd: 1em;
$textLg: 1.6em;
$textX1: 3em;