// footer

/* footer */

.footer{
	padding: 30px;
	@include d-flex(column, center, center);
	background-color: $black;
	img{
		max-height: 200px;
		max-width: 200px;
	}
	a img{
		max-height: 30px;
		background-color: $black;
	}
}

